[submodule "gokz"]
	path = gokz
	url = https://github.com/FemboyKZ/gokz
	branch = fkz
[submodule "movementapi"]
	path = movementapi
	url = https://github.com/danzayau/movementapi
[submodule "sm-json"]
	path = sm-json
	url = https://github.com/clugg/sm-json
[submodule "sourcemod"]
	path = sourcemod
	url = https://github.com/alliedmodders/sourcemod
	branch = 1.12-dev
